/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* my code from here */
body{
	display: grid;
	grid-template-columns: 500px 1fr;

	font-family: "Helvetica", "Arial", sans-serif;
}

h1{
	color:brown;
	font-size: 30px;
	text-align: center;

	margin: 15px;
}

/* left */

.left{
	display: flex;
	flex-direction: column;
	align-items: center;

	margin: 15px;
}

.add_new_anime{
	background-color: green;
	color: white;
	font-size: 20px;
	border: none;
	border-radius: 5px;

	padding: 10px;;
}

.animeshelf{
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 150px;
	align-items: center;
    justify-items: center;
}

 .card_div{
	margin:10px;
	padding: 15px;

	position: relative;
 }

 .card_div>img{
	height: 120px;
	width: 100px;
 }

 .tick_span{
	display: block;
	
	position: absolute;
	right:-3px;
	top: 50px;
 }

 .cross_span{
	display: block;

	color:red;
	
	position: absolute;
	right:-3px;
	top: 70px;
 }

 /* Modal Form */
 .modal{
	display:none;
	position:fixed;
	left: 0px;
	top:0px;

	z-index: 1;
	width: 100%;
	height: 100%;
	overflow:auto;
	background: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
 }

 .modal_content{
	background-color: #fefefe;
	border: 1px solid #888;
	width:80%;
	margin:15% auto;
	padding: 20px;
 }

 .close{
	color:#aaa;
	font-size: 28px;
	font-weight: bold;
	float: right;
 }

 .close:hover,.close:focus{
	color: black;
	text-decoration: none;
	cursor: pointer;
 }

 /* How to create a modal box? */

 form{
	padding: 50px;
 }

 .form_row{
	margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
	gap: 10px;
 }

 fieldset{
	margin-bottom: 20px;
 }

 .confirm, .cancel{
	color: white;
	border-radius: 5px;
	border: none;
	padding: 10px;

	font-weight: bold;
	font-size: 20px;
	width: 300px;

 }

 .confirm{
	background-color: green;
 }

 .cancel{
	background-color: red;
 }


/* right */

.right{
	position: relative;
}
.to_be_removed{
	position: absolute;
	top:200px;
	left:15%;
}

 .detail{
	display: grid;
	gap: 15px;
	margin:15px;
 }


.image_detail{

	
	grid-area: 1/2/span 1/span 1;
	height: 250px;
	width: 250px;
}

.grid-align{

	grid-area: 1/1/span 1/span 1;
	display: grid;
	grid-template-columns: 80px 200px;

	align-items: start;
}

.introduction_detail{
	grid-area: 2/1/span 1/span 2;
}

.bold{
	font-weight: bold;
}

.hide{
	display: none;
}

